.homesec5card{
    /* height: 200px; */
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 20px 0px;
    margin: 15px 30px;
    border-radius: 10px;
}
/* .homesec5card:hover{
    box-shadow: 2px 2px 5px 5px #dbd8d8d2;
} */
.homesec5card>img{
    height: 70px;
    width: 70px;
}
.homesec5card>h2{
    color: #000f32;
    font-size: 22px;
    margin: 10px 0px;
    font-weight: 500;
}
.homesec5card>p{
    margin: 5px 0px;
    color: grey;
    text-align: center;
    font-size: 16px;
}

@media only screen and (max-width:1400px){
    .homesec5card{
        /* height: 200px; */
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        padding: 20px 0px;
        margin: 15px 30px;
        border-radius: 10px;
    }

}

@media only screen and (max-width:2200px) and (min-width:1700px){
    .homesec5card{
        /* height: 200px; */
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: aquamarine; */
        padding: 20px 0px;
        margin: 15px 30px;;
    }
    .homesec5card>img{
        height: 70px;
        width: 70px;
    }
    .homesec5card>h2{
        color: #000f32;
        font-size: 22px;
        margin: 10px 0px;
        font-weight: 500;
    }
    .homesec5card>p{
        margin: 5px 0px;
        color: grey;
        text-align: center;
        font-size: 16px;
    }

}

@media only screen and (max-width:1000px){
    .homesec5card{
        /* height: 200px; */
        width: 300px;
    }

}
@media only screen and (max-width:600px){
    .homesec5card{
        /* height: 200px; */
        width: 300px;
    }
    .homesec5card>h2{
        font-size: 25px;
    }
    .homesec5card>p{
        font-size: 18px;
    }

}