.about{
    background-color: #ffffff;
    /* background-color: aquamarine; */
}
.about-banner{
    /* padding: 0px 80px; */
    height: 50vh;
    /* background-image: linear-gradient(to right, #000f32, #ffffff); */
    box-shadow: inset 0px 0px 0px 2000px rgba(226, 140, 79, 0.808);

    background-position-x: 80%;
    background-position-y:  20%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-banner>h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    margin: 0px;
}
.about-banner>hr{
    width: 100px;
    height: 3px;
    border-radius: 20px;
    background-color: #ffffff;
}
.about-banner>p{
    width: 800px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.about-1{
    /* background-color: blueviolet; */
    /* background-image: url();
     */
     /* background-image: "a.jpg" ; */
    /* border: 1px solid #000000; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
}
.about-1-left{
    /* background-color: aqua; */
    /* border: 1px solid #000000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 20px; */
}
.about-1-left>h1{
    margin: 0px;
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    color: #5a89df;
    padding: 5px 5px;
    /* box-shadow: 0px 0px 0px 0px #acb8b8; */
    border-bottom: 3px solid #5a89df;
    /* background-color: blue; */

}
.about-1-left>h2{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: chocolate;
    font-weight: 500;
    font-size: 20px;
}
.about-1-left>p{
    margin: 0px;
    padding: 5px;
    font-size: 18px;
    color: rgb(87, 83, 83);
    text-align: justify;
    width: 600px;
}
.about-1-right>img{
    height: 350px;
    box-shadow: 2px 2px 3px 3px #acb8b8;
    border-radius: 5px;
    transition: box-shadow 0.5s;
    width: 500px;
}
.about-1-right{
    padding: 10px;
    /* margin: 1px 0px; */
    /* border: 1px solid black; */
}
.about-1-right>img:hover{
    /* height: 360px; */
    box-shadow: 3px 3px 7px 7px #acb8b8;
}

.about-2{
    /* border: 1px solid black; */
    /* background-color: #eeebeb; */
    background-color: rgb(17, 24, 24);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about-2>h1{
    margin: 0px;
    width: 200px;
    text-align: center;
    font-weight: 500;
    border-bottom: 3px solid chocolate;
    /* border: 1px solid black; */
    /* color: #ffffff; */
    /* color:   #A5233D; */
    color: chocolate;
    padding: 10px 10px;
}

.about-2-card{
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

.about-3>h1{
    margin: 0px;
    text-align: center;
    color: #A5233D;
    font-weight: 500;
    padding: 5px 20px;
    border-bottom: 3px solid #A5233D;
    margin-bottom: 30px;
}

.about-4{
    /* height: 60vh; */
    /* background-color: #f8f4f2; */
    background-color: rgb(17, 24, 24);
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.about-4>h1{
    margin: 0px;
    text-align: center;
    color: chocolate;
    font-weight: 500;
    padding: 5px 20px;
    border-bottom: 3px solid chocolate;
}
.about-4-business{
    margin: 10px 0px;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.about-5{
    background-color:aqua;
    padding: 0px 100px;
    height: 60vh;
    /* background-image: url("C:\Users\WEB\Desktop\Suraj\E-NgoGuru\frontend\public/aboutbanner.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 0px 2000px #000000e3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-5-content{
    display: flex;
    flex-direction: column;

}
.about-5-content>h1{
    /* position: relative; */
    /* margin-left: 200px; */
    width: 500px;
    color: #ffffff;
    font-size: 40px;
    font-family: Lora;
    /* text-align: justify; */
}
.about-5>img{
    margin-left: 100px;
    height: 300px;
    width: 400px;
    border-radius: 30px;
}
.about-6{
    padding: 20px 80px;
}
.about-6>h1{
    /* text-align: center; */
    color: #000f32;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.about-6>h1>span{
    padding: 0px 20px;
    border-bottom: 3px solid #000f32;
}
.about-6-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-6-content-item{
    padding: 10px 0px;
    background-color: rgb(221, 233, 221);
    width: 250px;
    margin: 15px 5px;
    border-radius: 10px;
}
.about-6-content-item-2{
    padding: 20px 10px;
 }
 .about-6-content-item-2>h3{
    color: chocolate;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
 }
 .about-6-content-item-2>p{
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #6b6d6b;
    /* text-align: justify; */
 }
.about-6-content-item-1{
    display: flex;
}
.about-6-content-item-1-rect{
    height: 50px;
  width: 100px;
  background-color: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-6-content-item-1-rect>h1{
    color: #ffffff;
    font-size: 25px;
}
.about-6-content-item-1-tri{
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid chocolate;
	border-bottom: 25px solid transparent;

}

@media only screen and  (min-width:1600px){
    
    .about-1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 50px;
    }
    .about-1-left{
        /* background-color: aqua; */
        /* border: 1px solid #000000; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        /* padding: 0px 20px; */
    }
    .about-1-left>h1{
        margin: 0px;
        font-size: 30px;
        padding: 10px;
        font-weight: 500;
        color: #5a89df;
        padding: 5px 5px;
        /* box-shadow: 0px 0px 0px 0px #acb8b8; */
        border-bottom: 3px solid #5a89df;
        /* background-color: blue; */
    
    }
    .about-1-left>h2{
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 0px;
        color: chocolate;
        font-weight: 500;
        font-size: 20px;
    }
    .about-1-left>p{
        margin: 0px;
        padding: 5px;
        font-size: 18px;
        color: rgb(87, 83, 83);
        text-align: justify;
        /* width: 600px; */
        width: 100%;
    }
    .about-1-right>img{
        height: 350px;
        box-shadow: 2px 2px 3px 3px #acb8b8;
        border-radius: 5px;
        transition: box-shadow 0.5s;
        /* width: 500px; */
        width: 100%;
    }
    .about-1-right{
        padding: 10px;
        /* margin: 1px 0px; */
        /* border: 1px solid black; */
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-1-right>img:hover{
        /* height: 360px; */
        box-shadow: 3px 3px 7px 7px #acb8b8;
    }
    .about-6>h1{
        font-size: 40px;
        font-weight: 500;
    }
    .about-6-content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-6-content-item{
        padding: 10px 0px;
        background-color: rgb(221, 233, 221);
        width: 18%;
        margin: 15px 10px;
    }

}



@media only screen and (max-width:1000px){
    .about-banner{
        /* padding: 0px 80px; */
        height: 50vh;
    }
    .about-banner>h1{
        text-align: center;
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        margin: 0px;
    }
    .about-banner>hr{
        width: 50px;
        height: 3px;
        border-radius: 30px;
        background-color: #ffffff;
    }
    .about-banner>p{
        width: 700px;
        color: #ffffff;
        font-size: 16px;
    }
    .about-1-right>img{
        height: 250px;
        box-shadow: 2px 2px 3px 3px #acb8b8;
        border-radius: 5px;
        transition: box-shadow 0.5s;
        width: 350px;
    }
    .about-1-right{
        padding: 10px;
        /* margin: 1px 0px; */
        /* border: 1px solid black; */
    }
    .about-1-left{
       padding: 0px 10px;
       width: 350px;
    }
    .about-1-left>h1{
        font-size: 18px;
    }
    .about-1-left>h2{
        font-size: 14px;
    }
    .about-1-left>p{
        width: 350px;
        font-size: 15px;
        font-weight: 500;
    }
    .about-4{
        padding: 10px 15px;
    }
    .about-5{
        padding: 0px 50px;
    }
    .about-5>img{
        width:350px;
        margin: 0px;
    }
    .about-5-content>h1{
        width: 350px;
        font-size: 30px;
    }
    .about-6{
        padding: 15px 50px;
    }
    
}
@media only screen and (max-width:875px){
    .about-2-card{
        flex-wrap: wrap;
    }
    .about-4-business{
        flex-wrap: wrap;
    }

}
@media only screen and (max-width:850px){
    .about-1-right>img{
        height: 300px;
    }
    .about-1-left>p{
        width: 300px;
    }
    .about-6{
        padding: 10px 10px;
    }
    
    

}
@media only screen and (max-width:750px){
    .about-1-left>h1{
        font-size: 18px;
    }
    .about-1-right>img{
        height: 200px;
    }
    .about-1-left>h2{
        font-size: 15px;

    }
    .about-1-left>p{
        font-size: 10px;
        width: 300px;
    }
    .about-4-business{
        margin: 10px 0px;
        /* width: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .about-5{
        padding: 10px 10px;
        flex-direction: column;
        height: 60vh;
    }
    .about-5>img{
        width: 280px;
    }
    .about-5-content>h1{
        width: 300px;
        font-size: 25px;
    }


}
@media only screen and (max-width:575px){
    .about-banner{
        /* padding: 0px 80px; */
        height: 30vh;
    }
    .about-banner>h1{
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        margin: 0px;
    }
    .about-banner>hr{
        width: 20px;
        height: 3px;
        border-radius: 20px;
        background-color: #ffffff;
    }
    .about-banner>p{
        width: 300px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
    }
    .about-1{
        /* background-color: aqua; */
        /* border: 1px solid #000000; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
    }
    .about-1-left>h1{
        font-size: 15px;
    }
    .about-1-right>img{
        height: 300px;
        width: 280px;
    }
    
    .about-1-right{
        padding: 10px 5px;
        margin: 1px 0px;
        /* border: 1px solid black; */
    }
    .about-1-left>h2{
        font-size: 18px;

    }
    .about-1-left>p{
        font-size: 15px;
        width: 280px;
    }
    .about-4>h1{
        font-size: 22px;
    }
    .about-5{
        padding: 10px 10px;
    }
    .about-5-content{
        display: flex;
        flex-direction: column;
    
    }
    .about-5-content>h1{
        /* position: relative; */
        /* margin-left: 200px; */
        width: 300px;
        color: #ffffff;
        font-size: 18px;
        /* font-family: Lora; */
        margin: 0px;
        /* text-align: justify; */
    }
    .about-5>img{
        margin-left: 0px;
        height: 200px;
        width: 300px;
        border-radius: 30px;
    }
}